@use 'sass:map';
@use 'sass:color';
@use '~@angular/material' as mat;

@mixin render-shell-app-theme($theme, $typography-config, $typography-selector: '.mat-typography') {
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $warn: map.get($theme, warn);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  $schemes-colors: (
    primary:  mat.get-color-from-palette($primary, default),
    accent:  mat.get-color-from-palette($accent, default),
    warn:  mat.get-color-from-palette($warn, default),
    primary-contrast:  mat.get-color-from-palette($primary, default-contrast),
    accent-contrast:  mat.get-color-from-palette($accent, default-contrast),
    warn-contrast:  mat.get-color-from-palette($warn, default-contrast),
    header:  mat.get-color-from-palette($foreground, text-header),
    success:  mat.get-color-from-palette($foreground, text-success),
    error:  mat.get-color-from-palette($foreground, text-error),
    disabled:  mat.get-color-from-palette($foreground, disabled)
  );

  @each $key, $color in $schemes-colors {
    .pbl-color-#{$key} { color: $color !important; }
    .pbl-bg-color-#{$key} { background-color: $color !important; }
  }

  .mat-display-4, #{$typography-selector} .mat-display-4,
  .mat-display-3, #{$typography-selector} .mat-display-3,
  .mat-display-2, #{$typography-selector} .mat-display-2,
  .mat-display-1, #{$typography-selector} .mat-display-1
  .mat-h1, .mat-headline, #{$typography-selector} h1,
  .mat-h2, .mat-title, #{$typography-selector} h2  {
    color: mat.get-color-from-palette($foreground, text-header);
  }

  .mat-body p,
  .mat-body-1 p,
  .mat-typography p,
  input, li, ol, p, ul {
    letter-spacing: normal;
    color: mat.get-color-from-palette($foreground, text);
  }

  // TOOLTIP
  .pbl-large-tooltip {
    font-size: 16px;
    background: color.scale(mat.get-color-from-palette($primary, default), $alpha: -10%);
  }

  .mat-icon-button, .mat-menu-item {
    .mat-icon.pbl-unicode {
      line-height: 150%;
      height: 100%;
    }
  }
}
