@use 'sass:map';
@use 'sass:color';
@use '~@angular/material' as mat;

@mixin render($theme) {
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $warn: map.get($theme, warn);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  $link: mat.get-color-from-palette($foreground, secondary-text);
  $linkSelected: mat.get-color-from-palette($primary);
  $linkHover: color.scale($linkSelected, $lightness: 25%);
  $borderColor: mat.get-color-from-palette($foreground, divider);

  .pbl-demo-app-style .pbl-content-toc-inner {
    .pbl-content-toc-heading.secondary {
      &:hover {
        color: $linkHover;
      }
    }

    button.toc-heading {
      &:hover:not(.embedded) {
        color: $linkHover;
      }
    }

    ul.pbl-content-toc-list {
      li.pbl-content-toc-link {
        &.pbl-content-toc-level-1:after {
          background: $borderColor;
        }

        a {
          color: color.scale($link, $lightness: 25%);
        }

        &:hover a {
          color: $linkHover;
        }

        &.active {
          a {
            color: $linkSelected;
            &:before {
              background: $linkSelected;
            }
          }
        }
      }

      &:not(.embedded) li {
        &:before {
          border-left: 1px solid $borderColor;
        }

        &:not(.active):hover a:before {
          background: $borderColor;
        }
      }
    }
  }
}
