@use '~@angular/material' as mat;
@use 'default-theme';
@use 'shell-app.theme' as shell;
@use 'markdown' as md;
@use 'toc' as toc;

@use '../../../../libs/ngrid' as ngrid;
@use '../../../../libs/ngrid-material' as ngrid-material;

$typography-config: default-theme.shell-typography-config();
$pbl-shell-theme: default-theme.shell-light-theme(mat.$blue-palette, mat.$light-green-palette);

@include mat.core($typography-config);

@include ngrid.ngrid-typography($typography-config);

// Include the default theme styles.
@include mat.all-component-themes($pbl-shell-theme);
@include shell.render-shell-app-theme($pbl-shell-theme, $typography-config);

// @include ngrid.ngrid-theme($pbl-shell-theme);
@include ngrid-material.all-ngrid-material-theme($pbl-shell-theme);

@include ngrid.predefined-spacing($pbl-shell-theme);

@include md.render($pbl-shell-theme, $typography-config); // render markdown styles
@import './prismjs'; // load prismJs styles
@import './helpers';
@include toc.render($pbl-shell-theme); // render markdown styles


html {
  font-size: 62.5%;
}

html, body {
  -webkit-font-smoothing: antialiased;
}

.text-subtitle {
  color: rgba(0, 0, 0, .5);
}

.table-height-300 {
  pbl-ngrid {
    height: 300px;
  }
}
