@import './variables';

$typography-config: pbl-typography-config();
@include mat-core($typography-config);

@include mat-pbl-table-typography($typography-config);

// Include the default theme styles.
@include angular-material-theme($pbl-shell-theme);
@include pbl-shell-app-theme($pbl-shell-theme, $typography-config);

@include mat-pbl-table-theme($pbl-shell-theme);

@include mat-pbl-table-spacing();
.pbl-table.slim {
  @include mat-pbl-table-spacing('narrow');
}

@import './markdown'; // load markdown styles
// @import './highlightjs'; // load highlight.js styles
@import './prismjs'; // load prismJs styles

html, body {
  -webkit-font-smoothing: antialiased;
}

.text-subtitle {
  color: rgba(0, 0, 0, .5);
}

.table-height-300 {
  .pbl-table {
    height: 300px;
  }
}

.example-container.example-container-has-toc .markdown-body {
  blockquote {
    margin-left: -64px !important;
  }
}

