$top-nav-bar-height: 56px;
$nav-top-bottom-padding: 8px;

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: $top-nav-bar-height;
  bottom: 0;
  left: 0;
  right: 0;
}

.demo-top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  > nav {
    padding: $nav-top-bottom-padding 16px;
    background: #2196f3;
    color: white;
  }
}

.main-view {
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  background: white;

  .main-router-outlet + * {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.angrid-top-nav-logo-link {
  color: white;
  text-decoration: none;
  &:visited {
    color: white;
  }
}
.ng-custom-logo {
  position: relative;
  height: $top-nav-bar-height - (2 * $nav-top-bottom-padding);
  width: $top-nav-bar-height - (2 * $nav-top-bottom-padding);
  overflow: visible;

  & > mat-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 18px;
    width: 18px;
    font-size: 18px;
    color: #2196f3;
  }
}

