<!-- This should be declared in a top-level component (e.g. app root) -->
<pbl-ngrid-row *pblNgridDetailRowParentRef="let row;" detailRow matRipple></pbl-ngrid-row>
<pbl-ngrid blockUi [dataSource]="ds" [columns]="columns" vScrollNone
           detailRow (toggleChange)="onToggleChange($event)">
  <div *pblNgridDetailRowDef="let row" class="pbl-detail-row">
    <div>
      <h1>Detail Row</h1>
      <pre>{{row | json}}</pre>
    </div>
  </div>
</pbl-ngrid>

<div>
  Last Toggled Id: {{ lastToggleEvent ? lastToggleEvent.row.id + ' - ' + lastToggleEvent.expended : ''}}
</div>
