<div fxLayout="row" fxLayoutGap="16px" style="padding: 8px">
  <mat-form-field  appearance="outline">
    <mat-label>Name</mat-label>
    <input #input matInput (keyup)="doFilter(inputValue = input.value)">
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Gender</mat-label>
    <mat-select (selectionChange)="doFilter(selectValue = $event.value)">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let g of ['Male', 'Female']" [value]="g">{{g}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<pbl-ngrid blockUi [dataSource]="ds" [columns]="columns"></pbl-ngrid>
