$sac-shell-primary: mat-palette($mat-blue);
$sac-shell-accent:  mat-palette($mat-light-green);

@function sac-default-light-theme() {
  $sac-shell-theme: mat-light-theme($sac-shell-primary, $sac-shell-accent);

  $background-background: #F8F9FD;

  $sac-default-light-theme-background: (
    app-bar: #ffffff, // overwriting default color, when no primary/accent/warn are set.
    background: $background-background,
  );

  $foreground-text: #4A4A4A;

  $sac-default-light-theme-foreground: (
    text: $foreground-text,
    text-header: #3F5972,
    text-success: #4caf50,
    text-error: #f44336,
  );

  $sac-shell-theme: map-merge($sac-shell-theme, (
    background: map-merge($mat-light-theme-background, $sac-default-light-theme-background),
    foreground: map-merge($mat-light-theme-foreground, $sac-default-light-theme-foreground)
  ));

  @return $sac-shell-theme;
}

@function sac-default-dark-theme() {
  $sac-shell-theme: mat-dark-theme($sac-shell-primary, $sac-shell-accent);

  $sac-default-dark-theme-background: (
  );

  $sac-default-dark-theme-foreground: (
    text-header: rgb(64, 90, 114),
    text-success: #4caf50,
    text-error: #f44336
  );

  $sac-shell-theme: map-merge($sac-shell-theme, (
    background: map-merge($mat-dark-theme-background, $sac-default-dark-theme-background),
    foreground: map-merge($mat-dark-theme-foreground, $sac-default-dark-theme-foreground)
  ));

  @return $sac-shell-theme;
}

@function sac-typography-config() {
  @return mat-typography-config(
    $display-3: mat-typography-level(56px, 56px, 300),
    $display-2: mat-typography-level(45px, 48px, 300),
    $display-1: mat-typography-level(34px, 40px, 300),
    $headline:  mat-typography-level(24px, 32px, 300)
  );
}

@mixin sac-shell-app-theme($theme, $typography-config, $typography-selector: '.mat-typography') {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-display-4, #{$typography-selector} .mat-display-4,
  .mat-display-3, #{$typography-selector} .mat-display-3,
  .mat-display-2, #{$typography-selector} .mat-display-2,
  .mat-display-1, #{$typography-selector} .mat-display-1
  .mat-h1, .mat-headline, #{$typography-selector} h1,
  .mat-h2, .mat-title, #{$typography-selector} h2  {
    color: mat-color($foreground, text-header);
  }
}
