@import 'variables';
@import '~primer-markdown/build/build.css';
// local customization for markdown + fixes for collisions with material

// Font style in github's markdown-body is different in size and family, this will fix
$font-family: map-get($typography-config, font-family);
.markdown-body {
  @include mat-typography-level-to-styles((body-1: mat-typography-level(16px, 28px, 400, $font-family)), body-1);

  &.overflow-container {
    height: 100%;
    width: 100%;
    .markdown-content {
      width: 100%;
      height: 100%;
    }
    pre {
      height: 100%;
      width: 100%;
      overflow: auto;
      box-sizing: border-box;
    }
  }

  div.alert {
    padding: 16px;
    margin: 24px 0;
    border-left: 10px solid mat-color($mat-orange, 600);
    background: rgba(mat-color($mat-orange, 600), 0.1);
  }

  div.info {
    padding: 16px;
    margin: 24px 0;
    border-left: 10px solid mat-color($mat-blue, 600);
    background: rgba(mat-color($mat-blue, 600), 0.1);
  }
}
