@use 'sass:color';

$data-cell-color: red;
$header-cell-color: yellow;
$header-cell-group-color: blue;
$footer-cell-color: pink;

.enter-and-leave-grid-example {
  .pbl-ngrid-cell {
    border: 2px solid transparent;
  }
  .cell-hovered {
    border: 2px solid $data-cell-color;

    &.pbl-ngrid-header-cell {
      border: 2px solid $header-cell-color;
    }

    &.pbl-header-group-cell {
      border: 2px solid $header-cell-group-color;
    }

    &.pbl-ngrid-footer-cell {
      border: 2px solid $footer-cell-color;
    }
  }

  .row-hovered {
    transition: all 250ms ease;
    background: $data-cell-color;

    &.row-cell-hovered {
      background: color.scale($data-cell-color, $alpha: -75%);
    }

    &.pbl-ngrid-header-row {
      background: $header-cell-color;
      &.row-cell-hovered {
        background: color.scale($header-cell-color, $alpha: -75%);
      }
    }

    &.pbl-meta-group-row {
      background: $header-cell-group-color;
      &.row-cell-hovered {
        background: color.scale($header-cell-group-color, $alpha: -75%);
      }
    }

    &.pbl-ngrid-footer-row {
      background: $footer-cell-color;
      &.row-cell-hovered {
        background: color.scale($footer-cell-color, $alpha: -75%);
      }
    }
  }
}
