<pbl-ngrid id="sellers"
           #grid
           persistState rowReorder columnReorder
           matHeaderContextMenu="excelMenu"
           blockUi
           matSort vScrollFixed
           cellTooltip
           focusMode="cell"
           matCheckboxSelection="selection" matCheckboxSelectionColor="primary"
           [dataSource]="ds"
           [columns]="columns"
           style="height: 500px"
           class=" pbl-ngrid-cell-ellipsis pbl-ngrid-header-cell-ellipsis">
  <pbl-demo-action-row filter (refresh)="refresh()" ></pbl-demo-action-row>
  <div *pblNgridCellTypeDef="'countryNameDynamic'; col as col; row as row">{{ col.type.data.name(row) }}</div>
  <!-- <div *pblNgridHeaderCellTypeDef="'pbl-groupby-row'; col as col; grid as grid" pblAggregationContainer #agg="pblAggregationContainer"
       fxLayoutAlign="start center"
       style="position: absolute; height: 100%; width: 100%;">
    <mat-icon>format_list_bulleted</mat-icon>
    <mat-chip-list>
      <mat-chip *ngFor="let c of grid.columnApi.groupByColumns"
                (removed)="grid.columnApi.removeGroupBy(c)">
        {{ c.label }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <mat-chip *ngIf="agg.pending">
        {{ agg.pending.label }}
      </mat-chip>
    </mat-chip-list>
    <div *cdkDragPlaceholder></div>
  </div> -->
</pbl-ngrid>
