@use '~@angular/material' as mat;
@use '../../../libs/ngrid' as ngrid;
@use '../../../libs/ngrid-material' as ngrid-material;

$typography-config: mat.define-typography-config();
$ngrid-material-starter-primary: mat.define-palette(mat.$indigo-palette);
$ngrid-material-starter-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$ngrid-material-starter-warn: mat.define-palette(mat.$red-palette);
$ngrid-material-starter-theme: mat.define-light-theme($ngrid-material-starter-primary, $ngrid-material-starter-accent, $ngrid-material-starter-warn);
$ngrid-material-starter-theme: ngrid.define-light-theme($ngrid-material-starter-theme);

@include mat.core($typography-config);
@include ngrid.ngrid-typography($typography-config);
@include mat.all-component-themes($ngrid-material-starter-theme);
@include ngrid.ngrid-theme($ngrid-material-starter-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fixed-height-grid-300 {
  height: 300px;
}

.fixed-height-grid-500 {
  height: 500px;
}
