<div class="mat-elevation-z6 demo-top-nav">
  <nav fxLayoutAlign="start center" fxLayoutGap="8px">
    <a [routerLink]="['/']" class="ngrid-top-nav-logo-link">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div ng-custom-logo color="white" flat class="ng-custom-logo"><mat-icon>table_chart</mat-icon></div>
        <div style="font-size: 1.5em">n<span style="font-weight: 700">Grid</span></div>
      </div>
    </a>

    <ng-container *ngIf="viewLayout.isWeb$ | async">
      <a *ngFor="let topMenuItem of topMenuItems | async"
         mat-button
         [matTooltip]="topMenuItem.tooltip"
         [routerLink]="[topMenuItem.path]">{{topMenuItem.title}}</a>

      <a mat-button [matMenuTriggerFor]="demosMenu">
        <span>{{ selectedDemoLink ? selectedDemoLink.text : 'Select Demo'}}</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </a>
      <div style="flex:1 0 auto"></div>
      <mat-slide-toggle [checked]="isRtl" (toggleChange)="rtlToggleChanged()">RTL</mat-slide-toggle>
      <app-search-input (onSearch)="doSearch($event)"></app-search-input>
      <app-search-results *ngIf="showSearchResults" [searchResults]="searchResults | async" (resultSelected)="hideSearchResults()"></app-search-results>

      <a mat-button href="https://github.com/shlomiassaf/ngrid" target="_blank">
        <svg style="fill: white" height="32" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true">
          <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
        </svg>
      </a>
    </ng-container>

    <ng-container *ngIf="viewLayout.isMobile$ | async">
      <div style="flex:1 0 auto"></div>
      <mat-slide-toggle [checked]="isRtl" (toggleChange)="rtlToggleChanged()">RTL</mat-slide-toggle>
      <mat-form-field *ngIf="topMenuItems | async as menuItems" class="mobile-top-menu" appearance="legacy">
        <mat-select #select (routerLinkActiveNotify)="mobileTopMenuRouteActivated(select, menuItems, $event)"
                    placeholder="Select Topic">
          <mat-select-trigger style="color: white;">
            <span *ngIf="selectedDemoLink && select.value === 'Demo'">{{ 'Demo: ' + selectedDemoLink.text }}</span>
            <span *ngIf="select.value && select.value !== 'Demo'">{{ select.value.title }}</span>
          </mat-select-trigger>

          <mat-option *ngFor="let topMenuItem of menuItems" [matTooltip]="topMenuItem.tooltip" [routerLink]="[topMenuItem.path]" [value]="topMenuItem">
            <span>{{topMenuItem.title}}</span>
          </mat-option>
          <mat-option value="Demo">
            <div style="height: 100%; width: 100%;" mat-button [matMenuTriggerFor]="demosMenu" (click)="handleMobileTopMenuSubMenu(select, demosMenu, $event)">
              <div fxLayoutAlign="start center">
                <mat-icon style="margin-right: 0; margin-left: -8px; transform: rotate(90deg);">arrow_drop_down</mat-icon>
                <span>{{ selectedDemoLink ? 'Demo: ' + selectedDemoLink.text : 'Select Demo'}}</span>
              </div>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button (click)="showSearchResults = true">
          <mat-icon>search</mat-icon>
      </button>
      <app-search-results *ngIf="showSearchResults" (resultSelected)="hideSearchResults()"></app-search-results>
    </ng-container>

    <mat-menu #demosMenu="matMenu" (routerLinkActiveNotify)="demoLinkStatusChanged($event)">
      <a *ngFor="let demoLink of demoLinks | async"
         mat-menu-item
         [disabled]="selectedDemoLink === demoLink"
         [routerLink]="demoLink.cmd">{{ demoLink.text }}</a>
    </mat-menu>
  </nav>
</div>
<div class="main-view">
  <router-outlet class="main-router-outlet"></router-outlet>
</div>
