<div class="mat-elevation-z6 demo-top-nav">
  <nav fxLayoutAlign="start center" fxLayoutGap="8px">
    <a [routerLink]="['/']" class="ngrid-top-nav-logo-link">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div ng-custom-logo color="white" flat class="ng-custom-logo"><mat-icon>table_chart</mat-icon></div>
        <div>N-Grid</div>
      </div>
    </a>
    <a mat-button [routerLink]="['/', 'concepts']">Concepts</a>
    <a mat-button [routerLink]="['/', 'features']">Features</a>
    <a mat-button [routerLink]="['/', 'extensions']">Extensions</a>
    <a mat-button [routerLink]="['/', 'stories']">Stories</a>
    <a mat-button [matMenuTriggerFor]="demosMenu">
      <span>{{ selectedDemoLink ? selectedDemoLink.text : 'Select Demo'}}</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </a>
    <mat-menu #demosMenu="matMenu" routerLinkActiveNotify (activeLinkChanged)="demoLinkStatusChanged($event)">
      <a *ngFor="let demoLink of demoLinks"
         mat-menu-item
         [disabled]="selectedDemoLink === demoLink"
         [routerLink]="demoLink.cmd">{{ demoLink.text }}</a>
    </mat-menu>
  </nav>
</div>
<div class="main-view">
  <router-outlet class="main-router-outlet"></router-outlet>
</div>
