<pbl-ngrid usePagination matSort [dataSource]="ds" [columns]="columns"
           (cellClick)="$event.context?.startEdit()">
  <div *pblNgridCellEditorDef="'name'; let ctx">
    <input #input [value]="ctx.value" [pblCellEditAutoFocus]="ctx" (change)="ctx.value = input.value" />
    <button (click)="ctx.stopEdit()">X</button>
  </div>
  <pbl-ngrid-paginator *pblNgridPaginatorRef="let grid"
                       [grid]="grid"
                       [paginator]="grid.ds.paginator"></pbl-ngrid-paginator>
</pbl-ngrid>
