$primary: map-get($pbl-shell-theme, primary);
$accent: map-get($pbl-shell-theme, accent);
$warn: map-get($pbl-shell-theme, warn);
$background: map-get($pbl-shell-theme, background);
$foreground: map-get($pbl-shell-theme, foreground);

$link: mat-color($foreground, secondary-text);
$linkSelected: mat-color($primary);
$linkHover: lighten($linkSelected, 10);
$borderColor: mat-color($foreground, divider);

.pbl-demo-app-style .pbl-content-toc-inner {
  .pbl-content-toc-heading.secondary {
    &:hover {
      color: $linkHover;
    }
  }

  button.toc-heading {
    &:hover:not(.embedded) {
      color: $linkHover;
    }
  }

  ul.pbl-content-toc-list {
    li.pbl-content-toc-link {
      &.pbl-content-toc-level-1:after {
        background: $borderColor;
      }

      a {
        color: lighten($link, 10);
      }

      &:hover a {
        color: $linkHover;
      }

      &.active {
        a {
          color: $linkSelected;
          &:before {
            background: $linkSelected;
          }
        }
      }
    }

    &:not(.embedded) li {
      &:before {
        border-left: 1px solid $borderColor;
      }

      &:not(.active):hover a:before {
        background: $borderColor;
      }
    }
  }
}
