@import './variables';

$typography-config: shell-typography-config();
@include mat-core($typography-config);

@include pbl-ngrid-typography($typography-config);

// Include the default theme styles.
@include angular-material-theme($pbl-shell-theme);
@include pbl-shell-app-theme($pbl-shell-theme, $typography-config);

// @include pbl-ngrid-theme($pbl-shell-theme);
@include pbl-ngrid-material-theme($pbl-shell-theme);

$narrow-spacing: ( spacing: $pbl-spacing-theme-narrow );
pbl-ngrid.slim {
  @include pbl-ngrid-spacing(map-merge($pbl-shell-theme, $narrow-spacing));
}

@import './markdown'; // load markdown styles
@import './prismjs'; // load prismJs styles
@import './helpers';
@import './toc';

html, body {
  -webkit-font-smoothing: antialiased;
}

.text-subtitle {
  color: rgba(0, 0, 0, .5);
}

.table-height-300 {
  pbl-ngrid {
    height: 300px;
  }
}
