<div fxLayout="column" class="pbl-fill-absolute">
  <p fxFlex="noshrink">This demo is using header rows of type "fixed", "row" and "sticky" together, which is not recommended. Unless you're using Chrome / FireFox, expect quirks.</p>
  <pbl-ngrid fxFlex="*"
             id="allInOne" persistState
             #pblTbl
             rowReorder columnReorder
             blockUi
             matSort
             vScrollDynamic minBufferPx="300" maxBufferPx="500"
             cellTooltip
             matCheckboxSelection="selection"
             focusMode="row"
             detailRow
             [wheelMode]="'passive'"
             [dataSource]="ds"
             [columns]="columns"
             (cellClick)="$event.context?.startEdit()"
             class="pbl-ngrid-cell-ellipsis pbl-ngrid-header-cell-ellipsis">
    <pbl-demo-action-row filter label="Demo #1"></pbl-demo-action-row>
    <!-- DEFINING DEFAULT UI BLOCKER (BUSY) FOR THIS PBL-NGRID -->
    <div *pblNgridBlockUiDef class="pbl-ngrid-ui-block">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <!-- DEFINING DEFAULT UI BLOCKER (BUSY) FOR THIS PBL-NGRID -->

    <!-- DEFINING DEFAULT NO DATA TEMPLATE FOR THIS PBL-NGRID -->
    <div *pblNgridNoDataRef class="pbl-ngrid-no-data"><span>No Results</span></div>
    <!-- DEFINING DEFAULT NO DATA TEMPLATE FOR THIS PBL-NGRID -->

    <!-- DEFINING DEFAULT PAGINATOR TEMPLATE FOR THIS PBL-NGRID -->
    <pbl-ngrid-paginator *pblNgridPaginatorRef="let grid" [grid]="grid" [paginator]="grid.ds.paginator"></pbl-ngrid-paginator>
    <!-- DEFINING DEFAULT PAGINATOR TEMPLATE FOR THIS PBL-NGRID -->

    <!-- DETAIL ROW TEMPLATE DEFINITION-->
    <pbl-ngrid-row *pblNgridDetailRowParentRef="let row;" detailRow matRipple></pbl-ngrid-row>
    <div *pblNgridDetailRowDef="let row; animation as animation; hasAnimation: 'interaction'"
         class="pbl-detail-row"
         [@.disabled]="animation.fromRender" (@detailExpand.done)="animation.end()" [@detailExpand]>
      <div>
        <h1>Detail Row</h1>
        <pre>{{row | json}}</pre>
      </div>
    </div>
    <!-- DETAIL ROW TEMPLATE DEFINITION-->


    <!-- DEFAULT CELL TEMPLATE DEFINITION-->
    <!-- We can omit this because the table has a default cell template similar to this. It is here for reference -->
    <div *pblNgridCellDef="'*'; value as value;"> {{value}} </div>
    <!-- DEFAULT CELL TEMPLATE DEFINITION-->


    <!-- SPECIFIC CELL TEMPLATE DEFINITION-->
    <div *pblNgridCellDef="'name'; value as value;"><b>{{value}}</b></div>
    <div *pblNgridCellTypeDef="'currencyFn'; value as value; col as col; row as row">{{value | currency:col.type?.data.currency(row):'symbol':'1.0-2'}}</div>
    <div *pblNgridCellTypeDef="'countryNameDynamic'; col as col; row as row">{{ col.type.data.name(row) }}</div>
    <div *pblNgridCellDef="'balance'; let ctx; value as value;" [ngridCellClass]="{ 'balance-negative': value < 0, 'balance-positive': value > 0 }">{{ ctx.value | number:'1.0-0'}}</div>
    <div *pblNgridCellDef="'settings.background'; let ctx;" [ngridCellStyle]="{ backgroundColor: ctx.value }"><b>{{ctx.value}}</b></div>
    <div *pblNgridCellDef="'settings.avatar'; value as value;"><img [src]="value" height="40px" /></div>
    <!-- SPECIFIC DEFAULT CELL TEMPLATE DEFINITION-->

    <!-- CELL EDITOR TEMPLATES -->
    <div *pblNgridCellEditorDef="'settings.emailFrequency'; let ctx">
      <mat-form-field>
        <mat-select #matSelect [value]="ctx.value"
                    (ngAfterViewInit)="matSelect.open()"
                    (openedChange)="!$event && ctx.stopEdit()"
                    (selectionChange)="ctx.value = $event.value">
          <mat-option value="Daily">Daily</mat-option>
          <mat-option value="Weekly">Weekly</mat-option>
          <mat-option value="Yearly">Yearly</mat-option>
          <mat-option value="Seldom">Seldom</mat-option>
          <mat-option value="Often">Often</mat-option>
          <mat-option value="Never">Never</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- DEFAULT HEADER CELL TEMPLATE DEFINITION-->
    <!-- We can omit this because the table has a default header cell template similar to this. It is here for reference -->
    <div *pblNgridHeaderCellDef="'*'; col as col">
      <span style="text-decoration: underline; font-weight: bold">{{col.label}}</span>
    </div>
    <div *pblNgridHeaderCellTypeDef="'country'; col as col">
      <span>🏳 {{col.label}} 🏳</span>
    </div>
    <div *pblNgridHeaderCellTypeDef="'language'; col as col">
      <span>🌐 {{col.label}} 🌐</span>
      </div>
    <div *pblNgridFooterCellDef="'*'; col as col">
      <span style="opacity: 0.5">{{col.label}}</span>
    </div>
    <!-- DEFAULT HEADER CELL TEMPLATE DEFINITION-->

    <!-- DEFAULT HEADER CELL TEMPLATE DEFINITION-->
    <div *pblNgridHeaderCellDef="'name'; col as col"><span style="font-size: 22px; font-weight: bold">{{col.label}}</span></div>
    <!-- SPECIFIC HEADER DEFAULT CELL TEMPLATE DEFINITION-->

  </pbl-ngrid>
</div>
