<div fxLayout="column" class="pbl-fill-absolute">
  <p fxFlex="noshrink">This demo is using header rows of type "fixed", "row" and "sticky" together, which is not recommended. Unless you're using Chrome / FireFox, expect quirks.</p>
  <pbl-ngrid fxFlex="*"
             id="allInOne" persistState
             #pblTbl
             rowReorder columnReorder
             blockUi
             matSort vScrollAuto
             cellTooltip
             [hideColumns]="hideColumns"
             matCheckboxSelection="selection"
             [transpose]="toggleTranspose"
             [usePagination]="usePagination"
             focusMode="row"
             detailRow
             [wheelMode]="'passive'"
             [showHeader]="showHeader"
             [showFooter]="showFooter"
             [dataSource]="ds"
             [columns]="columns"
             (cellClick)="$event.context && $event.context.startEdit()"
             class="pbl-ngrid-cell-ellipsis pbl-ngrid-header-cell-ellipsis">
    <pbl-demo-action-row filter label="Demo #1"></pbl-demo-action-row>
    <!-- DEFINING DEFAULT UI BLOCKER (BUSY) FOR THIS PBL-NGRID -->
    <div *pblNgridBlockUiDef class="pbl-ngrid-ui-block">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <!-- DEFINING DEFAULT UI BLOCKER (BUSY) FOR THIS PBL-NGRID -->

    <!-- DEFINING DEFAULT NO DATA TEMPLATE FOR THIS PBL-NGRID -->
    <div *pblNgridNoDataRef class="pbl-ngrid-no-data"><span>No Results</span></div>
    <!-- DEFINING DEFAULT NO DATA TEMPLATE FOR THIS PBL-NGRID -->

    <!-- DEFINING DEFAULT PAGINATOR TEMPLATE FOR THIS PBL-NGRID -->
    <pbl-ngrid-paginator *pblNgridPaginatorRef="let table" [table]="table" [paginator]="table.ds.paginator"></pbl-ngrid-paginator>
    <!-- DEFINING DEFAULT PAGINATOR TEMPLATE FOR THIS PBL-NGRID -->

    <!-- DETAIL ROW TEMPLATE DEFINITION-->
    <pbl-ngrid-row *pblNgridDetailRowParentRef="let row;"
                  [detailRow]="row"
                  matRipple>
    </pbl-ngrid-row>
    <div *pblNgridDetailRowDef="let row; animation as animation; hasAnimation: 'interaction'"
         class="pbl-detail-row"
         [@.disabled]="animation.fromRender" (@detailExpand.done)="animation.end()" [@detailExpand]>
      <div>
        <h1>Detail Row</h1>
        <pre>{{row | json}}</pre>
      </div>
    </div>
    <!-- DETAIL ROW TEMPLATE DEFINITION-->


    <!-- DEFAULT CELL TEMPLATE DEFINITION-->
    <!-- We can omit this because the table has a default cell template similar to this. It is here for reference -->
    <div *pblNgridCellDef="'*'; value as value;"> {{value}} </div>
    <!-- DEFAULT CELL TEMPLATE DEFINITION-->


    <!-- SPECIFIC CELL TEMPLATE DEFINITION-->
    <div *pblNgridCellDef="'name'; value as value;"><b>{{value}}</b></div>
    <div *pblNgridCellTypeDef="'currencyFn'; value as value; col as col; row as row">{{value | currency:col.type?.data.currency(row):'symbol':'1.0-2'}}</div>
    <div *pblNgridCellTypeDef="'countryNameDynamic'; col as col; row as row">{{ col.type.data.name(row) }}</div>
    <div *pblNgridCellDef="'balance'; let ctx; value as value;" [ngridCellClass]="{ 'balance-negative': value < 0, 'balance-positive': value > 0 }">{{ ctx.value | number:'1.0-0'}}</div>
    <div *pblNgridCellDef="'settings.background'; let ctx;" [ngridCellStyle]="{ backgroundColor: ctx.value }"><b>{{ctx.value}}</b></div>
    <div *pblNgridCellDef="'settings.avatar'; value as value;"><img [src]="value" height="40px" /></div>
    <!-- SPECIFIC DEFAULT CELL TEMPLATE DEFINITION-->

    <!-- CELL EDITOR TEMPLATES -->
    <div *pblNgridCellEditorDef="'settings.emailFrequency'; let ctx">
      <mat-form-field>
        <mat-select #matSelect [value]="ctx.value"
                    (ngAfterViewInit)="matSelect.open()"
                    (openedChange)="!$event && ctx.stopEdit()"
                    (selectionChange)="ctx.value = $event.value">
          <mat-option value="Daily">Daily</mat-option>
          <mat-option value="Weekly">Weekly</mat-option>
          <mat-option value="Yearly">Yearly</mat-option>
          <mat-option value="Seldom">Seldom</mat-option>
          <mat-option value="Often">Often</mat-option>
          <mat-option value="Never">Never</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- DEFAULT HEADER CELL TEMPLATE DEFINITION-->
    <!-- We can omit this because the table has a default header cell template similar to this. It is here for reference -->
    <div *pblNgridHeaderCellDef="'*'; col as col">
      <span style="text-decoration: underline; font-weight: bold">{{col.label}}</span>
    </div>
    <div *pblNgridHeaderCellTypeDef="'country'; col as col">
      <span>🏳 {{col.label}} 🏳</span>
    </div>
    <div *pblNgridHeaderCellTypeDef="'language'; col as col">
      <span>🌐 {{col.label}} 🌐</span>
      </div>
    <div *pblNgridFooterCellDef="'*'; col as col">
      <span style="opacity: 0.5">{{col.label}}</span>
    </div>
    <!-- DEFAULT HEADER CELL TEMPLATE DEFINITION-->

    <!-- DEFAULT HEADER CELL TEMPLATE DEFINITION-->
    <div *pblNgridHeaderCellDef="'name'; col as col"><span style="font-size: 22px; font-weight: bold">{{col.label}}</span></div>
    <!-- SPECIFIC HEADER DEFAULT CELL TEMPLATE DEFINITION-->

  </pbl-ngrid>

  <ng-container *ngIf="false">
    <div class="example-feature-container" fxLayout="row" fxLayoutAlign="center center">
      <div class="example-feature-title" fxFlex="50%">Features</div>
      <div class="example-feature-action" fxFlex fxLayout="column">
        <mat-slide-toggle (change)="usePagination = $event.checked ? 'pageNumber' : false" [checked]="usePagination">Show Paginator</mat-slide-toggle>
        <mat-slide-toggle (change)="toggleTranspose = $event.checked" [checked]="toggleTranspose">Transpose</mat-slide-toggle>
        <mat-slide-toggle (change)="showHeader = $event.checked" [checked]="showHeader">Show Header</mat-slide-toggle>
        <mat-slide-toggle (change)="showFooter = $event.checked" [checked]="showFooter">Show Footer</mat-slide-toggle>
      </div>
    </div>

    <div class="example-feature-container" fxLayout="row" fxLayoutAlign="center center">
      <div class="example-feature-title" fxFlex="50%">Hide Columns</div>
      <div class="example-feature-action" fxFlex>
        <mat-form-field>
          <mat-select #selectHiddenColumn>
            <mat-option *ngFor="let o of pblTbl.columnApi.columns" [value]="o">{{o.label}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox *ngIf="selectHiddenColumn?.selected?.value as c"
                      (change)="toggleColumn(c.id)"
                      [checked]="hideColumns.indexOf(c.id) > -1">Sticky Start</mat-checkbox>
      </div>
    </div>

    <div class="example-feature-container" fxLayout="row" fxLayoutAlign="center center">
      <div class="example-feature-title" fxFlex="50%">Detail Row</div>
      <div class="example-feature-action" fxFlex fxLayout="column">
        <mat-radio-group (change)="onDetailRowChange($event.value)" [value]="detailRow">
          <mat-radio-button value="off">Off</mat-radio-button>
          <mat-radio-button value="on">On</mat-radio-button>
          <mat-radio-button value="predicate">Predicate (Even rows only)</mat-radio-button>
        </mat-radio-group>
        <mat-slide-toggle (change)="singleDetailRow = $event.checked" [checked]="singleDetailRow">Force Single Detail Row</mat-slide-toggle>
      </div>
    </div>

    <div class="example-feature-container" fxLayout="row" fxLayoutAlign="center center">
      <div class="example-feature-title" fxFlex="50%">Enable Row Selection</div>
      <div class="example-feature-action" fxFlex>
        <mat-slide-toggle (change)="enableRowSelection = $event.checked" [checked]="enableRowSelection"></mat-slide-toggle>
        <span *ngIf="enableRowSelection">
          Selected ({{dataSource.selection.selected.length}}):
          <span *ngFor="let item of dataSource.selection.selected; last as last">{{item.id}}<span *ngIf="!last">, </span> </span>
        </span>
      </div>
    </div>

    <div class="example-feature-container" fxLayout="row" fxLayoutAlign="center center">
      <div class="example-feature-title" fxFlex="50%">Sticky Header</div>
      <div class="example-feature-action" fxFlex>
        <mat-checkbox *ngFor="let h of pblTbl._headerRowDefs; index as i" (change)="setStickyRow(pblTbl, 'header', i === 0 ? 'table' : i - 1, $event.checked)">{{ i === 0 ? 'Main' : '#' + i}}</mat-checkbox>
      </div>
    </div>
    <div class="example-feature-container" fxLayout="row" fxLayoutAlign="center center">
      <div class="example-feature-title" fxFlex="50%">Sticky Footer</div>
      <div class="example-feature-action" fxFlex>
        <mat-checkbox *ngFor="let h of pblTbl._footerRowDefs; index as i" (change)="setStickyRow(pblTbl, 'footer', i === 0 ? 'table' : i - 1, $event.checked)">{{ i === 0 ? 'Main' : '#' + i}}</mat-checkbox>
      </div>
    </div>
    <div class="example-feature-container" fxLayout="row" fxLayoutAlign="center center">
      <div class="example-feature-title" fxFlex="50%">Sticky Column</div>
      <div class="example-feature-action" fxFlex>
        <mat-form-field>
          <mat-select #selectColumn>
            <mat-option *ngFor="let o of pblTbl.columnApi.visibleColumns" [value]="o">{{o.label}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox *ngIf="selectColumn?.selected?.value as c"
                      (change)="setStickyColumns(pblTbl, 'start', c.orgProp, $event.checked)"
                      [checked]="c.stickyStart">Sticky Start</mat-checkbox>
        <mat-checkbox *ngIf="selectColumn?.selected?.value as c"
                      (change)="setStickyColumns(pblTbl, 'end', c.orgProp, $event.checked)"
                      [checked]="c.stickyEnd">Sticky End</mat-checkbox>
      </div>
    </div>
  </ng-container>
</div>
