import { Component, ChangeDetectionStrategy } from '@angular/core';
import { createDS, columnFactory } from '@pebula/ngrid';
import { Seller, StaticRestClientApi } from '@pebula/apps/dev-app-lib/client-api';

@Component({
  selector: '<%= selector %>',
  templateUrl: './<%= componentFile(name) %>.html',
  styleUrls: ['./<%= componentFile(name) %>.<%= style %>'],
  changeDetection: ChangeDetectionStrategy.OnPush,
})
export class <%= componentClassName(name) %> {
  columns = columnFactory()
    .table(
      { prop: 'id' },
      { prop: 'name' },
      { prop: 'email' },
      { prop: 'address' }
    )
    .build();

  ds = createDS<Seller>()
    .onTrigger( () => this.clientApi.getSellersAll() )
    .create();

  constructor(private clientApi: StaticRestClientApi) { }
}
