
name: Pull Request

on:
  workflow_dispatch:
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: |
          echo -e "\033[31;1;4mDump GitHub context\033[0m"
          echo -e "$GITHUB_CONTEXT\n"
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          fetch-depth: 0
      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: Restore Cache
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Restore git history
        run: git fetch --no-tags --prune --depth=5 origin ${{ github.event.pull_request.base.ref }}
      - name: Install dependencies
        run: yarn
      - name: Create Cache Directory
        run: mkdir /home/runner/work/ngrid/ngrid/.cache
      - name: Test
        run: ./node_modules/.bin/nx affected:test --base=origin/${{ github.event.pull_request.base.ref }} --configuration=ci
      - name: E2E
        run: ./node_modules/.bin/nx affected:e2e --base=origin/${{ github.event.pull_request.base.ref }}
      - name: E2E Upload Artifacts
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: cypress-artifacts
          path: dist/cypress/**/*.png
          retention-days: 30
      - name: Build Libraries
        run: npm run build-grid
