
name: Cypress Update Snapshots

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Define branch name'
        required: true
        default: 'master'
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.branch}}
          fetch-depth: 0
      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: Restore Cache
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        run: yarn install
      - name: E2E
        run: ./node_modules/.bin/nx run-many --configuration=updateSnapshots --target=e2e --all
      - name: Remove package-lock.json
        run: npx rimraf package-lock.json
      - name: Create Pull Request
        if: success()
        id: cpr
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: 'e2e: update E2E Snapshots'
          branch: update-e2e-snapshots
          delete-branch: true
          title: 'e2e: update E2E Snapshots'
      - name: Check outputs
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
